.nav {
  background: rgb(4, 179, 120);
  padding: 1rem;
}


.nav > a {
  display: inline-flex;
  margin-left: 4rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.nav>a:hover{
  transform:scale(1.2);
  color:black
}
